#form_page{
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    color:lightgray;
    background: rgba(22,56,27,0.8);
    display: none;
}
input[type=text] {
    background-color: transparent;
    border: 1px solid gold;
}
select {
    border:none;
    background-color: transparent;
    border: 1px solid gold;
    color:lightgray;
}
option{
    background-color: green;
}
#submit_button{
    border:none;
    background-color: transparent;
    border: 1px solid gold;
    color:lightgray;
     -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}

.semi-square {
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}
#info_form_wrapper{
    -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
    background: rgba(32,80,39,.8);
    border: 1px solid gold;
}
#info_form_wrapper{
    color: white;
}
input, select, textarea{
    color:lightgray;
}