<html>
<head>
    <title>Manillen</title>
    <meta http-equiv="expires" content="0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form_page.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/play_page.css') }}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function(){


            namespace = '/';

            choose_troef_allowed = false;
            play_card_allowed = false;

            sent_troef = false;
            sent_card = false;
            var play_cards;
            card_played = -1;

            dict = {
                'S': '\u2660',
                'H': '\u2665',
                'D': '\u2666',
                'C': '\u2663'
            };

            $(document).on('click', '.playing_card, .playing_card_bottom, .playing_card_top', function(){
                var index = parseInt(this.id.charAt(9));

                if(choose_troef_allowed && !sent_troef){
                    console.log("answering troef");
                    socket.emit('answer_troef', play_cards[index]);
                    sent_troef = true;
                }
                if(play_card_allowed && !sent_card){
                    sent_card = true;
                    card_played = index;
                    socket.emit('answer_card', play_cards[index]);
                    console.log("answering card");
                }
            });

            var socket = io.connect('http://' + '0.0.0.0:5000' + namespace);
            socket.on('wait_other_players', function() {
                console.log("changing to play_page, waiting for other players...")

                $('#form_page').css('display','none');
                $('#play_page').css('display','block');
            });
            socket.on('ask_info', function() {
                $('#form_page').css('display','block');
                $('#play_page').css('display','none');
            });
            //This is a test function, used to give information to the client instead of asking it
            socket.on('give_info', function(data) {
                console.log("This is a testing function")
                console.log(data)
                $('#table_name_input').val(data['game_name']);
                $('#team_name_input').val(data['team_name']);
                $('#player_name_input').val(data['player_name']);
                $('#table_location_input').val(data['position']);
                $('#form_page').css('display','block');
                $('#play_page').css('display','none');
                $('#submit_button').trigger('click');

            });
            socket.on('new_table_card', function(data){
                card = data["card"]
                index = data["index"]

                var c = card.charAt(0);
                $("#table_card" + index.toString() + "_top_wrapper").text(dict[c]);

                $("#table_card" + index.toString() + "_bottom_wrapper").text(card.slice(1));
            });
            socket.on('valid_card', function(){
                play_card_allowed = false;
                $("#play_card" + card_played.toString() + "_top_wrapper").text("");
                $("#play_card" + card_played.toString() + "_bottom_wrapper").text("");
                give_command("")
            });
            socket.on('invalid_card', function(){
                play_card_allowed = true;
                sent_card = false;
                give_command("invalid");
            });

            socket.on('invalid_troef', function(){
                sent_troef = false;
               give_command("invalid, choose again");
            });
            socket.on('play_card', function(){
                console.log("allowed to play card");
                play_card_allowed = true;
                sent_card = false;
                give_command("choose card");
            });
            socket.on('send_troef', function(data){
                choose_troef_allowed = false;
                give_command("")
                 $("#troef_box").text(dict[data]);
            });

            socket.on('connect', function() {
                socket.emit('client_connect');
            });

            socket.on('clear_board', function () {
                for(i = 0; i < 4; i++){
                    $("#table_card" + i.toString() + "_top_wrapper").text();
                    $("#table_card" + i.toString() + "_bottom_wrapper").text();
                }
            });

            socket.on('set_game_info', function(data){
                //suits = ['H','D','C','S']
                play_cards = data["cards"];
                set_cards(play_cards);
                $("#score_name_team0").text(data["teams"][0]);
                $("#score_name_team1").text(data["teams"][1]);

            });
            socket.on('choose_troef', function () {
                choose_troef_allowed = true
                console.log("asked for troef")
                give_command("Choose strike");
            });

            function give_command(command_string){
                $("#give_command").text(command_string);

            }


            function set_cards(cards) {
                for (i=0; i<8; i++){
                    console.log('adding a card');
			        var c = cards[i].charAt(0);
                    $("#play_card" + i.toString() + "_top_wrapper").text(dict[c]);

			        $("#play_card" + i.toString() + "_bottom_wrapper").text(cards[i].slice(1));
                }
            }

            $('form#give_info_form').submit(function(event) {
                socket.emit('client_info_send', {player_name: $('#player_name_input').val(), table_name: $('#table_name_input').val(),
                                                table_location : $('#table_location_input').val(), team_name: $('#team_name_input').val(),});
                $("#info_wrapper").text($('#player_name_input').val() + '\n' + $('#team_name_input').val());

                return false;
            });

        });

    </script>
</head>
<body>
<div id="form_page">

    <div id="form_page_wrapper">
        <div id="info_form_stylisticstop"><img src="{{ url_for('static',filename='images/topelement.png') }}"></div>
        <div id="info_form_wrapper">
            <form id="give_info_form" method="POST" action='#'>
                Tafelnaam:<br><br><input type="text" name="table" id="table_name_input" class="semi-square"><br><br>
                Naam:<br><br><input type="text" name="name" id="player_name_input" class="semi-square"><br><br>
                Team:<br><br><input type="text" name="name" id="team_name_input" class="semi-square"><br><br>
                Locatie op tafel:<br><br>
                <select name="seat_location" id="table_location_input" class="semi-square"><br><br>
    			    <option value="0">Team 1 - Positie 1</option>
    			    <option value="1">Team 2 - Positie 1</option>
    			    <option value="2">Team 1 - Positie 2</option>
    			    <option value="3">Team 2 - Positie 2</option>
    		        </select><br><br><br>
                 <input type="submit" value="Submit" id="submit_button" class=".semi-square ">
            </form>
        </div>
        <div id="info_form_stylisticsbottom"><img src="{{ url_for('static',filename='images/topelement.png') }}"></div>
    </div>

</div>
<div id="play_page">
    <div id="info_wrapper"></div>
    <div id="give_command"></div>
    <div id="troef_box"><span></div>
    <div id="score_box">
        <div id="score_name_wrapper">
		    <div id="score_name_team0" class="score_name_team"></div>
            <div id="score_name_team1" class="score_name_team"></div>
	    </div>
        <div id="score_value_wrapper">
		    <div id="score_value_team0" class="score_value_team"></div>
            <div id="score_value_team1" class="score_value_team"></div>
	    </div>
    </div>
    <div id="playing_box">
        <div id="table_card_wrapper" class="">
            <div id="table_card0_wrapper" class="table_card">
                <div id="table_card0_top_wrapper" class="card_top"></div>
                <div id="table_card0_bottom_wrapper" class="card_bottom"></div>
            </div>
            <div id="table_card1_wrapper" class="table_card table_middle_card">
                <div id="table_card1_top_wrapper" class="card_top"></div>
                <div id="table_card1_bottom_wrapper" class="card_bottom"></div>
            </div>
            <div id="table_card2_wrapper" class="table_card table_middle_card">
                <div id="table_card2_top_wrapper" class="card_top"></div>
                <div id="table_card2_bottom_wrapper" class="card_bottom"></div>
            </div>
            <div id="table_card3_wrapper" class="table_card">
                <div id="table_card3_top_wrapper" class="card_top"></div>
                <div id="table_card3_bottom_wrapper" class="card_bottom"></div>
            </div>
        </div>
    </div>
    <div id="stitch_line_wrapper">
        <div id="stitch_line"></div>
    </div>
    <div id="player_card_wrapper">
        <div id="play_card0_wrapper" class="playing_card">
            <div id="play_card0_top_wrapper" class="card_top playing_card_top">&spades;</div>
            <div id="play_card0_bottom_wrapper" class="card_bottom playing_card_bottom">9</div>
        </div>
        <div id="play_card1_wrapper" class="playing_card playing_middle_card">
            <div id="play_card1_top_wrapper" class="card_top playing_card_top">&spades;</div>
            <div id="play_card1_bottom_wrapper" class="card_bottom playing_card_bottom">9</div>
        </div>
        <div id="play_card2_wrapper" class="playing_card playing_middle_card">
            <div id="play_card2_top_wrapper" class="card_top playing_card_top">&spades;</div>
            <div id="play_card2_bottom_wrapper" class="card_bottom playing_card_bottom">9</div>
        </div>
        <div id="play_card3_wrapper" class="playing_card playing_middle_card">
            <div id="play_card3_top_wrapper" class="card_top playing_card_top">&spades;</div>
            <div id="play_card3_bottom_wrapper" class="card_bottom playing_card_bottom">9</div>
        </div>
        <div id="play_card4_wrapper" class="playing_card playing_middle_card">
            <div id="play_card4_top_wrapper" class="card_top playing_card_top">&spades;</div>
            <div id="play_card4_bottom_wrapper" class="card_bottom playing_card_bottom">9</div>
        </div>
        <div id="play_card5_wrapper" class="playing_card playing_middle_card">
            <div id="play_card5_top_wrapper" class="card_top playing_card_top">&spades;</div>
            <div id="play_card5_bottom_wrapper" class="card_bottom playing_card_bottom">9</div>
        </div>
        <div id="play_card6_wrapper" class="playing_card playing_middle_card">
            <div id="play_card6_top_wrapper" class="card_top playing_card_top">&spades;</div>
            <div id="play_card6_bottom_wrapper" class="card_bottom playing_card_bottom">9</div>
        </div>
        <div id="play_card7_wrapper" class="playing_card">
            <div id="play_card7_top_wrapper" class="card_top playing_card_top">&spades;</div>
            <div id="play_card7_bottom_wrapper" class="card_bottom playing_card_bottom">9</div>
        </div>
    </div>
</div>
</body>

