#play_page{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(22,56,27,0.8);
    color:lightgray;
}
#player_card_wrapper{
    position: absolute;
    top:69%;
    height: 30%;
    width:100%;
    outline-offset: 80px;
    text-align:center;
    text-align: justify;
}
#playing_box{
    position: absolute;
    margin:auto;
    top:17%;
    left:22%;
    height:33%;
    width:56%;
    border-radius: 2vw;
    border: 1px dashed white;
}
#table_card_wrapper{
    top:5%;
    position: absolute;
    margin-left:1.5%;
    height:90%;
    width: 97%;
}
.playing_card{

    height: 100%;
    width: 10%;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
    border: 1px solid black;
    font-size:80px;
    text-align: center;
    vertical-align: middle;
    color: black;
    background-color: lightgray;
}
.playing_card:hover{
    color:gold;
}
.table_card{
    height: 100%;
    width: 18%;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
    border: 1px solid black;
    background-color: lightgray;
    font-size:80px;
    text-align: center;
    vertical-align: middle;
    color: black;

}
.card_top{
    width: 100%;
    height: 49%;
}
.card_bottom{
    top:50%;
    width: 100%;
    height: 49%;
}
.stitched {
   padding: 20px;
   margin: 10px;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}
#stitch_line_wrapper{
    /*border-top: 1px dashed white;*/
    border-bottom: 1px dashed white;
    position:absolute;
    height: 1%;
    width: 100%;
    top: 67%;
}
#stitch_line{
    position:absolute;
    height: 25%;
    width: 100%;
    top:38%;

    background-color: transparent;
}
.table_middle_card{
    float:left;
    margin-left: 4.4%;
    margin-right: 4.4%;
}
#table_card0_wrapper{
    float: left;
    margin-right: 4.4%;
}
#table_card3_wrapper{
    float:left;
    margin-left: 4.4%;
}

.playing_middle_card{
    display:inline-block;
    margin-left: 1.2%;
    margin-right: 1.2%;
}
#play_card0_wrapper{
    display:inline-block;
    margin-right: 1.2%;
}
#play_card7_wrapper{
    display:inline-block;
    margin-left: 1.2%;
}

#troef_box{
    width:7vw;
    height:7vw;
    position: absolute;
    top:2vw;
    right:2vw;
    border: 1px dashed white;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
    text-align: center;
    color:gold;
    font-size:80px;
    display: inline-block;
    line-height: 70px;
}
span {
  display: inline-block;
  vertical-align: middle;
}
#score_box{
	position:absolute;
	top:0;
	left:0;
	height:50vh;
	width:10vw;
	z-index:50;
}
#score_name_wrapper{
    width: 100%;
    height: 5%;
}
#score_value_wrapper{
    width: 100%;
    height: 94%;
}
.score_name_team{
    width: 49%;
    height: 100%;
    float: left;
    text-align: center;
}
.score_value_team{
    width: 49%;
    height: 100%;
    float: left;
    text-align: center;
}
#give_command{
    position:absolute;
    width: 50%;
    left:25%;
    top: 55%;
    height: 10%;
    font-size:7vh;
    text-align: center;
}
#info_wrapper{
    position: absolute;
    right: 0;
    width: 9vw;
    top:10vw;
}
